.bar
{
    background-color:#444;
    height: 10vw;
}
.header-links li {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
  }
  
  .header-links li:last-child {
    margin-right: 0px;
  }
  
  .header-links li a {
    color: #FFF;
  }
  
  .header-links li a:hover {
    color: #D10024;
  }
  
  .header-links li i {
    color: #D10024;
    margin-right: 5px;
  }
  #top-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1E1F29;
  }
  #top-header .header-links.pull-left {
    float: none !important;
  }
  #top-header .header-links.pull-right {
    float: none !important;
    margin-top: 5px;
  }
  .pull-right {
    float: right;
}
.pull-right {
    float: right!important;
}




  @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

  body {
      background-color: #eee;
      font-family: "Poppins", sans-serif;
      font-weight: 300
  }
  
  .height {
      height: 100vh
  }
  
  .search {
      position: relative;
      box-shadow: 0 0 40px rgba(51, 51, 51, .1)
  }
  
  .search input {
      height: 60px;
      text-indent: 25px;
      border: 2px solid #d6d4d4
  }
  
  .search input:focus {
      box-shadow: none;
      border: 2px solid blue
  }
  
  .search .fa-search {
      position: absolute;
      top: 20px;
      left: 16px
  }
  
  .search button {
      position: absolute;
      top: 5px;
      right: 5px;
      height: 50px;
      width: 110px;
      background: blue
  }


  .shop {
    position: relative;
    overflow: hidden;
    margin: 15px 0px;
}
  .shop .shop-img {
    position: relative;
    background-color: #0a3ca0;
    z-index: -1;
}







  
#header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #15161d;
}
.main-header {
    text-align: center;
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  .jumbotron{
    background-color: #444;
  }


  .hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  figure {
    width: 300px;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }


  .logo {
    font-family: 'Brush Script MT', cursive;
    font-size: 80%;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 30px;

    
}